/* File built from records.mjs v0.5.2 on 2024-12-26T04:24:19.955Z */
:root {
  color-scheme: light dark;
  --primary-color: light-dark(#000000FF,#FFFFFFFF);
  --body-background: light-dark(#FFFFFFFF,#000000FF);
  --secondary-bkg-color: light-dark(lab(23.52 0 0 / 1),lab(12.39 0.72 -0.51 / 1));
  --highlight-color: light-dark(lab(32.21 -2.48 -3.63 / 1),lab(86.75 0.16 0.61 / 1));
  --button-link: light-dark(lab(86.03 0.16 0.61 / 1),lab(21.31 0.21 0.79 / 1));
  --highlight-color-hover: light-dark(lab(100 0 0 / 1),lab(88.17 0.16 0.61 / 1));
}
body {
  background-color: var(--body-background);
  color: var(--primary-color);
  font-family: 'Noto Sans', sans-serif;
  text-wrap: pretty;
  word-break: break-word;
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
h2 {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem;
  font-weight: 700;
}
p {
  font-size: 0.85rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.italic {
  font-style: italic;
}
.record {
  padding-bottom: 1.2rem;
}
.footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 0.71rem;
}
.footer p {
  font-size: inherit;
}
.content-link {
  text-decoration: underline solid transparent;
  font-weight: bold;
  color: var(--biolink-color);
  cursor: pointer;
  transition: color 150ms linear, text-decoration 150ms linear;
}
.content-link:hover {
  color: var(--primary-hover);
  text-decoration: underline solid currentColor;
}
.bottom-links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 30px 20px;
  grid-template-rows: auto;
  font-size: 0.84rem;
  width: 90%;
  max-width: 800px;
  margin: auto;
  justify-content: center;
  padding-top: 20px;
}
.bottom-link {
  padding: 10px;
  border-radius: 30px;
  display: block;
  background-color: var(--button-link);
  color: var(--highlight-color);
  text-decoration: none;
  transition: all 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  transform: scale(1);
}
.bottom-link:hover {
  background-color: var(--secondary-bkg-color);
  color: var(--highlight-color-hover);
  transform: scale(1.05);
}